<main  class="container">
    <div class="d-flex border boder-primary"> 
        <div class="border border-dark d-flex justify-content-between flex-column flex-fill">
            <div class="d-flex justify-content-between"> 
                <p>Producto </p>
                <p>Precio </p>
                <p>Cantidad </p>
                <p>Subtotal </p>
            </div> 
            <div>
                Aqui  va la tarjeta del telefono
            </div>
            <div class="d-flex justify-content-around">
                <button>Continuar comprando</button>
                <button>Limpiar carrito</button>
            </div>
        </div>
        <div class="border border-dark flex-fill">
            <div>
                <p>Total</p>
            </div>
            <div>
                <p>Subtotal</p>
                <p>Subtotal</p>
                <button>Proceder al pago</button>
            </div>     
        </div>
    </div>
</main>