<div class="container d-flex align-items-center">
  <div class="text-section">
    <h3 class="fw-bold">Quienes somos?</h3>
    <p class="w-75">Somos una plataforma que integra una herramienta y tienda en línea que te permite analizar una gran variedad de teléfonos disponibles en el mercado, al igual que te permite comprar y vender telefonos.</p>
    <button type="button" class="btn button-blue border rounded-5 me-3">Empieza a comprar</button>
  </div>

  <div class="img-section">
    <div id="black-circle"></div>

      <%= image_tag "samsung-img.jpg", alt: "Sign up", class: "sign-up-img" %>

    <div id="blue-circle" class="mr-5"></div>
  </div>
</div>
