<section> 

  <div>
    <div>
      <img src="https://picsum.photos/200" alt="telefono">
      <p>Marca</p>
      <p>Modelo</p>
    </div>

    <div> 
      <p>Caractersiticas rincipales</p>
      <p>Pantalla</p>
      <p>Memoria</p>
      <p>Camara</p>
      <p>Procesador</p>
      <p>Sistema Operativo</p>
    </div>

    <button>Comprar</button>
  </div>

</section>