<footer class="text-center">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <a href="/">
            <div class="d-inline-flex logo">
              <p class="logo-bold me-1">O<p>
              <p class="logo-normal">nly<p>
              <p class="logo-bold mx-1"> - <p>
              <p class="logo-bold me-1">P<p>
              <p class="logo-normal">hones<p>
            </div>
          </a>
        </div>    

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold">Inicia</h5>
          <br>
          <ul class="list-unstyled mb-0">
            <li href="#"> Registro </li>
            <li href="#"> Iniciar Sesión </li>
            <li href="#"> Comparador </li>
          </ul>
        </div> 

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold">Ofrecemos</h5>
          <br>
          <ul class="list-unstyled mb-0">
            <li href="#"> Marcas</li>
            <li href="#"> Ofertas</li>
          </ul>
        </div> 

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <a href="#"><h5 class="fw-bold text-black"> Sobre Nosotros </h5></a>
        </div>
      </div>
      <div class="text-center pt-2">
        <p>2023 • BrightCoders Team 2</p>
      </div>
    </div>
  </section>
</footer> 
