<footer>
  <div>
    <a href="/"> <h1>O nly - P hones</h1> </a>
  </div>    

  <div>
    <h5>Inicia</h5>
    <a href="#"> Registro </a>
    <a href="#"> Iniciar Sesión </a>
    <a href="#"> Comparador </a>
  </div> 

  <div>
    <h5>Ofrecemos</h5>
    <a href="#"> Marcas</a>
    <a href="#"> Ofertas</a>
    <a href="#"> Registro </a>
  </div> 

  <div>
    <a href="#"><h5> Sobre Nosotros </h5></a>
  </div>
</footer> 
