<div class="little-menu pb-3">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "Comparador", "/comparador", class: "nav-link active", aria_current: "page" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Marcas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sobre Nosotros</a>
    </li>
  </ul>
</div>
