<div class="little-menu">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Comparador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Marcas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sobre Nosotros</a>
    </li>
  </ul>
</div>
