<section>
  <% for i in 0..7 %> 
    <div class="div-mejorescelulares d-inline-flex flex-column mx-4 mb-5">
      <div  class="p-3 border border-dark rounded-4 d-flex justify-content-center img-limitator">
        <%= image_tag "#{@best_phones[i][2]}", alt: "Telefono" %> 
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="fw-bolder"> <%= @best_phones[i][0] %> </p>
            <p class="fw-bolder"> $<%= @best_phones[i][1] %></p>
            <button type="button" class="mt-0 btn btn-dark border border-3 rounded-4"> Comprar</button>
          </div>
        
        </div>
      </div>
    </div>
  <%end%>
</section>
