<section>
  <div>
    <%= image_tag "https://picsum.photos/200", alt: "Telefono"%>
    <p>Nombre del telfono</p>
    <p>Descripcion</p>
    <p>Precio</p>
    <button type="button"> Comprar</button>
  </div>
</section>
