<header>
  <a href="/"><h1>O nly - P hones</h1></a>

  <div>
    <input type="text" placeholder="Buscar Telefono">
    <button type="button"> Buscar </button>
  </div>

  <div>
    <a href="/users/sign_in"><i class="fa-regular fa-user"></i></a><%= link_to "Inicia Sesión", new_user_session_path() %>
    <%= link_to "Registrate", new_user_registration_path() %>
    <a href="#"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
  </div>
</header>
