<header class="d-flex justify-content-between p-4 navbar navbar-expand-lg bg-body-tertiary">
  <a href="/">
    <div class="d-inline-flex logo ms-4">
      <p class="logo-bold me-1">O<p>
      <p class="logo-normal">nly<p>
      <p class="logo-bold mx-1"> - <p>
      <p class="logo-bold me-1">P<p>
      <p class="logo-normal">hones<p>
    </div>
  </a>
  <div class="input-group mb-3 w-25">
    <input type="text" placeholder="Buscar Telefono" class="form-control">
    <button type="button" class="btn button-blue" id="button-addon2"> Buscar </button>
  </div>

  <div>
    <div class="p-3 d-inline-flex align-items-center"><i class="fa-regular fa-user p-1 text-black"></i><%= link_to "Inicia Sesión", new_user_session_path(), class: "text-black" %></div>
    <%= link_to "Registrate", new_user_registration_path(), class: "p-3 text-black" %>
    <a href="#" class="p-3 text-black"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
  </div>
</header>
