<header>
  <a href="/"><h1>O nly - P hones</h1></a>

  <div>
    <input type="text" placeholder="Buscar Telefono">
    <button type="button"> Buscar </button>
  </div>

  <div>
    <a href="#"><i class="fa-regular fa-user"></i> Inicia Sesion</a>
    <a href="#">Registrate</a>
    <a href="#"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
  </div>
</header>
