<div class="m-2 w-50 align-self-center">
  <div class="input-group w-75"> 
    <%= form_tag seller_path, method: :get, class: "input-group w-100" do %>
      <%= text_field_tag :query, nil, class: "form-control", placeholder: "Buscar telefono" %>
      <%= submit_tag "Buscar", class: "btn button-blue" %>
    <% end %>
  </div>
  <% if @sell.present? %> 
    <ul class="m-1 list-inline w-75">
      <% @sell.each do |result| %>
        <li class="p-2 bg-opacity-10 border rounded w-75 list-inline-item align-middle">
          <%= link_to "Producto #{result.join(" ")}", seller_path(id: result[0]) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No se encontraron resultados.</p>
  <% end %>
</div>
