<main> 

  <div class="border border-dark mx-5 rounded-1"> 
    <div class="d-flex justify-content-evenly">
      <%= render 'partials/comparador_info' %>
      <%= render 'partials/comparador_info' %>
    </div>
  </div>
</main>