<main> 
  <div class="border border-dark mx-5 rounded-1"> 
    <div class="d-flex justify-content-evenly">
      <%= render 'partials/comparador_info' %>
      <%= render 'partials/search_bar' %>
      <%= render 'partials/comparador_info_to_compare' %>
    </div>
  </div>
</main>

