<main> 
  <div class="border border-dark mx-5 rounded-1"> 
    <div class="d-flex justify-content-evenly">
      <%= render 'partials/comparador_info' %>
      <%= render 'partials/search_bar' %>
      <% if @id2 != nil %>
        <%= render 'partials/comparador_info_to_compare' %>
      <% else %>
        <div class="d-inline-flex flex-column justify-content-center">
          <div class="fw-bold fs-3"> Busca un telefono para comparar</div>
        </div>
      <% end %>
    </div>
  </div>
</main>

