<%# div para el contenedor principal %>
<div>
  <%# div para colocar la imagen de la izquierda %>
  <div></div>
  <%# div para insertar el formulario %>
  <div>
    <%= render 'form' %>
  </div>
</div>
