//Colors to use
:root {
  --main-blue: #0619C1;
  --white-color: #fff;
  --black-color: #000;
  --red-color: #FF0000;
}
//Logo Styles
.logo{
  font-size: 1.5em;
  color: var(--black-color);
}
.logo-bold{
  font-weight: bold;
}
.logo-normal{
  font-weight: normal;
}
.logo-sell{
  display: flex;
  flex-wrap: wrap;
  font-Fsize: 1.5em;
}

//a links without styles
a:link, a:visited, a:active {
  text-decoration:none;
}
//Style button-blue
.button-blue{
  background-color: var(--main-blue);
  color: var(--white-color);
}
.button-blue:hover{
  background-color: var(--white-color);
  border: var(--main-blue) 1px solid;
  color: var(--main-blue);
  cursor: pointer;
}

//max-width
.max-width-phones{
  width: 20em;
}

//Styles of price figure
.price-figure{
  background-color: var(--black-color);
  border-radius: 0px 0px 100px 0px;
  height: 30%;
  width: 22%;
}
//Styles of ofertas
.ofertas-button{
  background-color: var(--red-color);
  border-radius: 50px 0px 50px 50px;
}
.ofertas-color{
  color: var(--red-color);
}
//style of mejorescelulares
.p-3{
  padding: $spacer;
}
.mt-0{
  margin-top: 20px;
}
.div-mejorescelulares{
  align-self: start;
  margin-left: 20px;
}

//delete styles of li
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:hover{
  background-color: var(--main-blue);
  color: white;
  cursor: pointer;
}
//style of marcas
.brand-1{
  border-bottom: 2px solid #0619C1;
  font-weight: bold;
}

//Limitator of a image
.img-limitator {
  height: 245px;
  width: 245px;
}
.img-limitator img {
  max-height: 100%;
  max-width: 100%;
}

.text-black{
  color: var(--black-color);
}

.img-cart-limitator {
  height: 100px;
  width: 100px;
}
.img-cart-limitator img {
  max-height: 100%;
  max-width: 100%;
}

.img-info-limitator {
  height: 350px;
  width: 350px;
}
.img-info-limitator img {
  max-height: 100%;
  max-width: 100%;
}

/* Estilos del contenedor del pop-up */
#popup-container-pago, #popup-container-limpiar  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Estilos del contenido del pop-up */
#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.no-cart{
  height: 60vh;
}

//Seller phones
.button-yellow,
.button-yellow:link,
.button-yellow:active{
  background-color: #C89137;
  color: var(--white-color);
}

.button-yellow:hover {
  background-color: var(--white-color);
  color: #C89137;
}
.seller-border{
  border: none;
  box-shadow: 5px 0 5px -2px #888;
  height: auto;
  position: relative;
}
.button-pos{
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 50%;
  margin-bottom: 10px;
  position: absolute;
  transform: translateX(-50%);
  width:160px; 
}
.profile-pic{
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.title{
 border-bottom: 1.5px solid #ebeff2;
 font-size: 2em;
 font-weight: bold;
}
.seller-card{
  border: 2.7px solid #ebeff2;
  border-radius: 5px;
}
.phones-size-seller{
  width: 4em;
}
.gray-font{
  color: #90A0B7;
  font-size: .8em;
  margin-top: 0;
}
.img-limitator-sell {
  height: 170px;
  margin-bottom: 25px;
}
.sm-sell{
  color:#0D6EFD;
}
.logo-seller{
  font-weight: normal;
  margin-right: 15px;
}
.s-title{
  font-weight: bold;
}
.s-title2{
  font-weight: bold;
  padding-left: 40px;
} 
.logo-normal-v1{
  font-weight: normal;
  margin-bottom: 0; 
}
#ult-renglon{
  padding-bottom: 70px;
}
#separador{
  border-bottom: 2px solid #ebeff2;
  margin: 0;
  padding: 0;
  width: 100%;
}
#prim-renglon{
  height: 25px;
  margin: 0;
  padding: 0;
}
.alt-info{
  height: 180px;
}
.phone-card1{
  height: 150px;
}
.phone-card2{
  height: 110px;
}


